*{
  margin: 0;
}
.App{
  background-color: #00CED1;
  height: 60px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

.mainbar{
  background-color: lightgray;
}

.headertitle{
  margin: 0;
  display: inline-block;
  margin-left:10px;
  color: #C71585;
}

.link1{
  color:#C71585;
  display: inline-block;
  margin-right: 20px;
  margin-top: 15px;
  text-decoration: none;
  float: right;
}

.linkbutton{
  color:#C71585;
  display: inline-block;
  margin-right: 20px;
  
  text-decoration: none;
  float: right;
}

.image{
  display: block;  
  margin-top: 150px;
  margin-left: 500px;
  margin-right: auto;
  width: 50%;
}

#shoppingButton{
  margin-left: 500px;
  margin-top: 10px;
  width: 505px;
}

#userForm{
  margin: auto;
  width:400px;
  margin-top: 100px;
  background-color: #f8d7da;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
  margin-bottom: 150px;
}

#registerForm{
  margin: auto;
  width:400px;
  margin-top: 100px;
    background-color: #f8d7da;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
  margin-bottom: 150px; 
}

#formtitle{
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.label{
  color: black;
  margin-left: 50px;
  margin-top: 10px;
}

.forminput{
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 40px;
  width:300px;
  margin-bottom: 0px;
}

#countrycode{
  display: inline-block;
  width:40px;
  height: 40px;
  margin-left: 50px;
}

#mobileinput{
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  width:250px;
  margin-bottom: 0px;
  text-align: center;
}

.span{
  color:red;
  text-align: center;
}

#formbutton{
  display: block;
  height: 40px;
  width:300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

#createaccount{
  text-align: center;
}

.logout {
  margin-top: 5px;
  background-color: transparent;
  margin-right: 20px;
  float: right;
}

.header{
  position: absolute;
  margin-top: -55px;
    margin-left: 1250px;
}

.productdetails{
  text-align: justify;
  width: 250px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#productstable{
  background-color: aliceblue;
  position: relative;
  margin-top: 40px;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

#productsheader{
  margin-top: 28px;
  text-align: center;
}

.productimage{
  margin-top: 20px;
}

#search{
  width: 350px;
  margin-left: 180px;
}

.nav1{
  margin-left: 25px;
}

#loader {
  margin-top: 25px;
  margin-left: 550px;
}

.navbar{

  margin-left: -10px;
}

#viewimage{
  height: 525px;
  width: 525px;
}

#productdetail{
  text-align: justify;
  width: 450px;
  margin-top: 100px;
  margin-left: 30px;
}

#viewtable{
  margin-top: 70px;
  background-color: aliceblue;
  margin-left: 70px;
  width: 1100px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

#viewbutton{
  margin-top: -140px;
  margin-left: 520px;

}

#productsheader{
  text-align: center;
}

.viewbuttons{
  margin-left: 40px;
  width: 160px;
}

.detailbutton{
  margin-top: -77px;
  margin-left: 155px
}

#sup{
  color:red;
}

.buy-now {
  width: 150px;
}

.orderdetail {
  margin-top: 50px;
  background-color: aliceblue;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

.count {
  height: 27px;
  background-color: aliceblue;
  line-height: initial;
  width: 30px;
}

#count-label {
  display: inline-block;
}

#count-buttons {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid black;
}

#count-value {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}

.paymentdetails {
  width: 250px;
  margin:auto;
}

.carddetail{
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.cvv {
    display: block;
    margin-left: 20px;
    width: 100px;
    text-align: center;
}

.cardinfo {
  margin: auto;
  margin-bottom: 15px;
  background-color: lightgray;
  border-radius: 5px;
  min-height: 160px;
}

.cardlabel{
  margin-left: 10px;
}

.card{
  margin: 0;
  padding: 0;
  border-color: lightgray;
}

#success {
  background-color: lemonchiffon;
  height: 175px;
  width: 390px;
  position: fixed;
  z-index: 3;
  margin-left: 335px;
  margin-top: 100px;
  color: black;
  padding: 10px;
  box-shadow: 0px 0px 8px 1px black;
}

#success-message {
  text-align: center;
  margin-top: 40px;
}

#success-button2{
  margin-left: 130px;
}

#orderstable {
  margin-top: 50px;
  background-color: aliceblue;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 8px 1px black;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}

.mainbar1{
 
  background-color:  #17202A;
}

#bar1{
  width: 1676px;
 
  margin-left: -157px
}

#viewimage1{
  width:250px;
    height:550px;
}

.banner{
  margin-top:30px
}

#frequentproducts{
  position: relative;
   border: 1px solid;
}

#formaltext{
  margin-top: 15px;
  margin-left: 100px;
}

.sampleform{
  margin-top: 30px;
  box-sizing: border-box;
}

#heading{
  text-align: center;
}